# AUDIO_OPTS="application name, audio stream name, audio bitrate, max transmission rate, buffer size, audio source, interface, rtsp server port"
# AUDIO_OPTS="{{ application_name }} {{ audio_stream_name }} 128k 256k 256k default ens3 8554"
AUDIO_OPTS="{{ application_name }} {{ audio_stream_name }} 64k 96k 128k default ens3 8554"
