# VIDEO_OPTS="application name, audio stream name, video transmission bitrate, transmission buffer size, x11 display, video source, interface, rtsp server port"
# VIDEO_OPTS="{{ application_name }} {{ video_stream_name }} 500k 1000k :10.0 /dev/vide0 ens3 8554"
VIDEO_OPTS="{{ application_name }} {{ video_stream_name }} 500k 1000k :10.0 /dev/vide0 ens3 8554"
