# CAPTURE_OPTS="application name, capture sink, output format, output conversion, display number, replay, interface, rtp server port"
# CAPTURE_OPTS="\"Wine desktop\" /dev/video0 RAW h264 :10.0"
# CAPTURE_OPTS="\"Wine desktop\" rtp RAW h264 :10.0 no ens3 8000"
CAPTURE_OPTS=":10.0 REPLAY"
